@import "_variables";

// if you have downloaded fonts
// @font-face {
//     font-family: 'abc';
//     src: url("../fonts/abc.otf");
//     font-weight: 700;
//     font-style: normal;
// }

// Mixins
@mixin too-small-mobile {
  @media (min-width: $too-small-mobile) {
    @content;
  }
}
@mixin mid-small-mobile {
  @media (min-width: $mid-small-mobile) {
    @content;
  }
}

@mixin small-mobile {
  @media (min-width: $small-mobile) {
    @content;
  }
}

@mixin mid-mobile {
  @media (min-width: $mid-mobile) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin small-tab {
  @media (min-width: $small-tab) {
    @content;
  }
}

@mixin big-tab {
  @media (min-width: $big-tab) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: $small-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin mid-desktop {
  @media (min-width: $mid-desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop) {
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background($url, $position, $attachment) {
  @if (str-index($url, "../") != 1) {
    @error "Background image URL must start with '../'";
  }

  background-image: url($url);
  background-position: $position;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: $attachment;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "GT America Standard";
}
// Keyframes
// Add keyframes here

// Global
// Add global/common classes here

// Main classes

nav {
  background: black;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  position: absolute;
  left: 140px;
  top: 3px;

  font-family: sans-serif;
}

.logoimg {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding-left: 101px;
  padding-right: 2px;
  padding-top: 24px;
  padding-bottom: 27px;
  font-family: sans-serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin-top: 8px;
}

nav ul li a.btn {
  background-color: #4c5fd5;
  border: 2px solid #4c5fd5;
  color: white;
  font-size: 23px;
  padding: 5px 26px;
  border-radius: 8px;
  margin-right: 85px;
  margin-left: 10x;
  margin-top: -4px;
  margin-bottom: 6px;
  font-family: sans-serif;
}

nav ul li a.active1 {
  background-color: #191a1b;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 23px;
  padding: 12px 29px;
  margin-bottom: 200px;
  margin-right: 5px;
  margin-left: 100px;
  font-family: sans-serif;
  margin-top: 15px;
}
.main {
  width: 100%;
  height: 1000px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 120px 80px;
}
header {
  width: 100%;
  height: 485px;
  background-color: #dadbf1;
  color: #191a1b;
}

.header1 {
  padding-top: 93px;
  letter-spacing: -4px;
  font-size: 80px;
  font-family: "GT America Standard", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 36px;
  line-height: 67px;
}

.searchbar {
  width: 82%;
  border: 1px solid #000000;
  background-color: #fff;
  justify-content: center;
  margin-left: 71px;
  padding: 9px;
}

.search {
  width: 100%;
  height: 40px;
  outline: 0;
  border: 0;
  color: #191a1b;
  border: 0;
  padding: 8px;
  font-size: x-large;
  color: black;
}
svg {
  width: 90%;
  height: 40%;
  padding-right: 0%;
  border: 0;
  background-color: white;
  border: 0%;
}
.input-wrap {
  border: 0;
  outline: 0;
  background-color: white;
}

a.btn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
footer {
  background: black;
  padding: 85px 0;
  font-family: "Times New Roman";
  font-size: large;
}

.single-box {
  color: #fff;
  line-height: 1.9;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.single-box ul {
  list-style: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 2.5;
  font-weight: 100;
}

.items {
  width: 90px;

  margin: 50px 0;
  left: 200px;
}
.heading {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 25px;
  margin-top: 10px;
  left: 320px;
}

.content {
  font-size: 20px;
  line-height: 32px;
  font-family: sans-serif;
  top: 100px;

  margin-left: 25px;
}
.link {
  margin-left: 26px;
  color: #4c5fd5;
  font-size: 18px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.input-wrap svg {
  width: 20px;
}

.content1 {
  padding: 25px;
}
.copywrite {
  padding-top: 214px;
  margin-left: -9px;
}
